body {
    background-image: url("../imagens/fundo.pngS");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

