/* Cores legíveis para tema branco/claro */

/* Títulos em cores escuras com contraste */
h1 {
    color: white !important;
    text-shadow: 0 1px 3px rgba(0,0,0,0.1) !important;
}

h2, h3 {
    color: white !important;
}


.quiz-intro p{
    color: white !important;
     text-shadow: 0 1px 3px rgba(0,0,0,0.1) !important;
     box-shadow: inset 0 0 10px rgba(0,0,0,0.1) !important;
    

}